/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.traficLight {
  background-color: rgb(65, 65, 65);
  width: 110px;
  height: 300px;
  border: solid rgb(39, 39, 39) 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.red {
  background-color: red;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 4px 8px 0.5em black;
}
.yellow {
  background-color: yellow;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 4px 8px 0.5em black;
}
.green {
  background-color: rgb(25, 202, 25);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 4px 8px 0.5em black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opacity {
  opacity: 20%;
}

.glowRed {
  box-shadow: 0 0 10px 8px red;
}
.glowYellow {
  box-shadow: 0 0 10px 8px yellow;
}
.glowGreen {
  box-shadow: 0 0 10px 8px rgb(25, 202, 25);
}

body {
  background-color: lightgray;
  font-family: calibri;
}

.butn {
  background-color: purple;
  color: white;
  border: 3px solid rgb(100, 0, 100);
  border-radius: 3px;
  font-family: Calibri;
  font-size: 1.5rem;
}

.butn:hover {
  background-color: rgb(100, 0, 100);
}
